body {
    margin: 0;
    background-color: black;
}

.footer {
    margin-top: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 65px;
}

h2 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
}

.header {
    height: 100px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.header img {
    height: 100px;
    vertical-align: middle;
}

.header a {
    color: black;
    text-decoration: none;
}

.header a:hover {
    color: black;
}

.body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.body > img {
    width: 100vw;
    max-width: 500px;
}

.two-column {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.two-column > * {
    margin-left: 10px;
    margin-right: 10px;
}

.button {
    text-decoration: none;
    padding: 20px;
    background-color: darkblue;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 5px solid black;
    transition: all 0.1s linear;
}

.button:hover {
    border-bottom: 5px solid white;
    color: white;
    transition: all 0.1s linear;
}

#summary {
    font-size: large;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    font-family: 'Open Sans', sans-serif;
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;
}

iframe {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.match_title {
    margin-top: 32px;
}

a {
    color: darkgray;
}

a:hover {
    color: lightgray;
}

.blog-post > img {
    width: 100%;
    max-width: 550px;
    display: block;
    margin: auto;
}

.blog-post {
    max-width: 800px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 16px;
}

.blog-post-list {
    margin-right: 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 45px;
    padding: 50px;
}

.blog-post .pageLinks {
  display: inline-block;
  margin: 15px;
}

#linksContainer {
  width: 100%;
  text-align: center;
}

.sidebar {
    width: 300px;
}

#button-list {
    margin-top: 50px;
    margin-bottom: 50px;
}

#archives a {
    padding: 10px;
    text-decoration: none;
}

#archives #archives-current-season {
    background: rgba(255,255,255,0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#archives {
    margin-left: 45px;
    margin-bottom: 10px;
}

#sponsor-list img {
    width: 200px;
}

.videoRow {
  display: flex;
  justify-content: center
}

.videoRow > iframe {
  display: inline-block;
  margin: 20px;
}



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
  
  /* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}